@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #e2e2e2;
}

* {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-align: justify;
}

header {
  color: black;
}
